
node_modules/
.env
*.db
*.db-journal
*.db.bak*
dist/
.DS_Store
.idea/
.vscode/
npm-debug.log
yarn-error.log
coverage/
.next/
build/
server/prisma/*.db
server/prisma/*.db-journal
server/prisma/*.db.bak*
